<router-outlet />
<h1>Calculadora</h1>
<label for="">Ingrese una edad: </label>
<input [(ngModel)]="edadUno" id="txtEdadUno"/>
<br>
<br>
<label for="">Ingrese otra edad: </label>
<input [(ngModel)]="edadDos" id="txtEdadDos"/>
<br>
<br>
<button (click)="promediarEdades()">Calcular</button>
<button (click)="limpiarInput()">Limpiar cuadros de textos</button>

<h2>Resultados</h2>
<label for="">Suma: </label>
<input [(ngModel)]="suma" readonly>
<br>
<br>
<label for="">Promedio: </label>
<input [(ngModel)]="promedio" readonly>
<br>
<br>
<p>El resultado de sumar ambas edades es: {{suma}}</p>
<p>El promedio de ambas edades es: {{promedio}}</p>

<app-login></app-login>
<app-error></app-error>
<app-bienvenido></app-bienvenido>